.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(42px);
    width: 100%;
    display: flex;
    align-items: center;

    [data-mantine-color-scheme] &[data-active] {
      background-color: var(--mantine-primary-color-light);
      color: var(--mantine-primary-color-light-color);
    }
  }

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.linkLabel {
  margin-right: rem(5px);
}

.linkIcon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  margin-right: var(--mantine-spacing-sm);
  width: rem(25px);
  height: rem(25px);
}

.showNav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}
